{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cerrar Sesión</title>
    <link href="{% static 'aplicacion/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" >
    <link href="{% static 'aplicacion/css/tiny-slider.css' %}" rel="stylesheet">
    <link href="{% static 'aplicacion/css/style.css' %}" rel="stylesheet">
</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href= "#">Pasión Alba<span>.</span></a>
        </div>
    </nav>
    <div class="hero" style="background-color: rgb(26, 23, 23);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="intro-excerpt">
                        <h1>Cesión Cerrada.</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        setTimeout(function() {
            window.location.href = " {% url "index" %}"; 
        }, 3000);
    </script>
</body>

</html>

