{% load static %}
<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Untree.co">
    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap4" />
    <link href="{% static 'aplicacion/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="{% static 'aplicacion/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'aplicacion/css/tiny-slider.css' %}" rel="stylesheet">

    <title>Gracias</title>
</head>

<body>
    <nav class="custom-navbarr navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar" style="font-weight: bold;">

        <div class="container">
            <a class="navbar-brand" href="{% url 'index' %}">Pasión Alba<span>.</span></a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni"
                aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsFurni">
                <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                    <li><a class="nav-link" href="{% url 'miscompras' %}">Mis Compras</a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Inicio</a>
                    </li>
                    <li><a class="nav-link" href="{% url 'shop' %}">Tienda</a></li>
                    <li><a class="nav-link" href="{% url 'about' %}">Quienes Somos</a></li>
                </ul>

                <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
                    <li><a class="nav-link" href="{% url 'login' %}"><img src="{% static 'aplicacion/img/user.svg' %}"></a></li>
                    <li><a class="nav-link" href="{% url 'cart' %}"><img src="{% static 'aplicacion/img/cart.svg' %}"></a></li>
                    <li><a class="nav-link" href="{% url 'salir' %}">Cerrar Sesión</a></li>
                </ul>
            </div>
        </div>

    </nav>

    <div class="hero" style="background-color: rgb(26, 23, 23);">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-5">
                    <div class="intro-excerpt">
                        <h1>Compra Realizada</h1>
                    </div>
                </div>
                <div class="col-lg-7">

                </div>
            </div>
        </div>
    </div>

    <div class="untree_co-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center pt-5">
                        
                    </span>
                    <h2 class="display-3 text-black">¡Muchas Gracias!</h2>
                    <p class="lead mb-5" style="color: brown;">Tu orden se concreto correctamente.</p>
                    <p><a href="{% url 'shop' %}" class="btn btn-sm btn-outline-black">Inicio</a>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'aplicacion/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'aplicacion/js/tiny-slider.js' %}"></script>
    <script src="{% static 'aplicacion/js/custom.js' %}"></script>
</body>

</html>
